.Landing-Grid {
    background: black;
};

.Sausalito-img {
    height: 600px;
    width: 900px;
};

.banner-text {
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
};

.banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
};
